/******** Custom fonts and CSS variables *******/

@font-face {
  font-family: 'Didact Gothic';
  src: url('../fonts/DidactGothic-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'DIN Web Pro';
  src: url('../fonts/DWP.woff');
}

@font-face {
  font-family: 'DIN Web Pro';
  src: url('../fonts/DWP-Medium.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'DIN Web Pro Black';
  src: url('../fonts/DWP-Bold.woff');
}

@font-face {
  font-family: 'DIN Web Pro Black';
  src: url('../fonts/DWP-Black.woff');
  font-weight: bold;
}

:root {
	--ptws-body-font-size: 1em;
	--ptws-body-background: #FFFFFF;
	--ptws-body-color: #000000;
    --ptws-content-font-size: 1em;
	--ptws-content-quote-p-font-size: 1.05em;
	--ptws-content-poem-p-font-size: 1.25em;
	--ptws-content-pullquote-p-font-size: 2rem;
	--ptws-content-pullquote-giant-p-font-size: 3rem;
	--ptws-menu-main-container-ul-li-font-size: 1.5em;
	--ptws-gearFilterButtons-span-font-size: 0.8em;
	--ptws-gearFilterButtons-span-padding: 2px 7px 2px 7px;
	--ptws-gearFilterButtons-span-margin: 5px 5px;
}
@media screen and (max-device-width: 1024px) {
  :root {
		/* On mobile devices, the photos are much smaller, and much more */
		/* affected by glare from surrounding text and background.       */
	    --ptws-body-background: #EAEAEA;
	    --ptws-body-color: #111111;
		/* On mobile devices but not in portrait mode, boost entry text size a bit */
	    --ptws-content-font-size: 1.3em;
		--ptws-content-quote-p-font-size: 1.35em;
		--ptws-content-poem-p-font-size: 1.45em;
		--ptws-content-pullquote-p-font-size: 2.5rem;
		--ptws-content-pullquote-giant-p-font-size: 3.4rem;
		--ptws-menu-main-container-ul-li-font-size: 1.6em;
		--ptws-gearFilterButtons-span-font-size: 1.1em;
		--ptws-gearFilterButtons-span-padding: 8px 12px 8px 12px;
		--ptws-gearFilterButtons-span-margin: 8px 8px;
  }
}
@media screen and (max-device-width: 1024px) and (orientation:portrait) {
  :root {
	  	/* Boost font sizes from the body on down in portrait mode */
	    --ptws-body-font-size: 1.4em;
	  	/* Compensate for the boost in the main menu so it's not huge */
		--ptws-menu-main-container-ul-li-font-size: 1.4em;
  }
}


/******** General customization *******/

body {
	background: var(--ptws-body-background);
	color: var(--ptws-body-color);
	font-family: 'Didact Gothic', sans-serif;
	line-height: 1.5;	/* Unitless means multiply font size */
	margin: 0 auto 20px;
	padding: 0;
	font-size: var(--ptws-body-font-size);
}

div.comment-respond {
	margin-left: 1em;
	margin-right: 1em;
}

iframe.wikiloc {
	margin:1em;
	width:600px;
	height:600px;
}


/* Entry content */

.content {
	margin: 0 auto 0;
	padding: 0;
	font-size: var(--ptws-content-font-size);
}

.content blockquote p {
	margin: 0;
	padding: 0 0 10px 0;
}

.post {
	margin: 0 0 9px 0;
	padding: 0 0 1px 0;
	clear: left;
}

.entry {
	margin: 0;
	padding: 0;
}

.entry > p {
	margin: 1em 1.4em 1em 25px;
	padding: 0 0 0 0;
	text-indent:1.6em;
}

.entry ul {
	margin-left: 0.8em;
}

.entry ol {
	margin: 0.7em 1em 0.7em 2em;
	padding: 0;
}

.entry ol li {
	margin: 0 0 0 20px;
	padding: 0;
}

.entry table {
	border: 1px solid #e6e6e6;
	margin: 0.7em 1em 0.7em 1em;
}

.entry th,
.entry td {
	border: 1px solid #e6e6e6;
	padding: .25em 1em;
	text-align: left;
}

.comments-content {
	margin: 0;
	padding: 0;
}

.sticky {
	background: #F5F5F5;
	margin: 0 0 40px 0;
	padding: 20px 20px 15px 20px;
	border: 1px solid #E6E6E6;
}

.clear {
	clear: left;
}


/***** Post Icons ********************/

.time {
	background: url(../images/icon-time.png) no-repeat center left;
	margin: 0 0 0 0px;
	padding: 0 0 2px 18px;
}

.post-comments {
	background: url(../images/icon-comments.png) no-repeat center left;
	margin: 0 0 0 3px;
	padding: 0 0 6px 18px;
}
	
.categories {
	background: url(../images/icon-categories.png) no-repeat center left;
	margin: 0 0 0 6px;
	padding: 0 0 2px 18px;
}
	
.tags {
	background: url(../images/icon-tags.png) no-repeat center left;
	margin: 0 0 0 3px;
	padding: 0 0 2px 18px;
}


/* Disclose icons, expressed to override jquery-ui style */

span.ui-icon-triangle-1-e {
	display:inline-block;
	text-indent:0;
	padding-top:0.25em;
	font-size:0.8em;
	width: 1.2em;
	height: 1em;
}
span.ui-icon-triangle-1-e::before {
	content: "►";
}

span.ui-icon-triangle-1-s {
	display:inline-block;
	text-indent:0;
	padding-top:0.25em;
	font-size:0.8em;
	width: 1.2em;
	height: 1em;
}
span.ui-icon-triangle-1-s::before {
	content: "▼";
}

/******** Modifying built in image figure embeds to give them a margin *******/

figure.wp-block-image > img {
	margin-left: 1.2em;
	margin-right: 1.2em;
}


/******** Images and "image strips" (grids of image thumbnails) *******/

.content .entry a > img {
	border: none;
	padding: 0px;
	margin: 4px 10px 4px 10px;
	box-shadow: 1px 1px 9px -1px rgba(81, 81, 81, 0.51);
}

.content .entry div.images {
	display: flex;
	clear: left;
	justify-content: center;
	padding: 0;
	margin: 0.7em 1em 0.7em 1em;
}
.content .entry div.images img {
	width: 95%;
}
.content .entry div.images a:nth-child(1n+2) img {
	margin-top: 16px; /* All children but the first */
}
.content .entry div.images > div {
	text-align: center;
	max-width: 800px;
	flex:1;
}

.content .entry div.imgComment {
	text-align: left;
	text-indent: 10px;
	font-size: 0.9em;
	margin: 0 10px 0 10px;
	padding: 0px 15px 0 15px;
}
.content .entry div.imgComment p {
	margin: 5px 0 5px 0;
	color: gray;
	font-weight: normal;
}

.content .entry div.imageStrip {
	border: none;
	display: table;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	box-shadow: 1px 1px 13px -1px rgba(81, 81, 81, 0.51);
}

.content .entry div.imageStrip > div {
	display: table-row;
}

.content .entry div.imageStrip > div > div {
	padding: 2px;
	display: table-cell;
}

.content .entry div.imageStrip > div:first-child > div > a > img {
	margin-top: 4px;
}

.content .entry div.imageStrip > div > div:first-child > a > img {
	margin-left: 6px;
}

.content .entry div.imageStrip > div > div > a > img {
	border: none;
	padding: 0px;
	margin: 0px 6px 4px 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/**** Image/map galleries (image on left, description on right) ****/
/**** This has been re-implemented as the "itinerary" block.    ****/
/**** These styles are left here to support the legacy HTML in old entries. ****/

.content .entry div.leftHandGallery {
	border: none;
	margin: 0.6em 1em 0.6em 1em;
	display: table;
}

.content .entry div.leftHandGallery > div {
	display: table-row;
}

.content .entry div.leftHandGallery > div > div {
	display: table-cell;
	vertical-align: top;
}

.content .entry div.leftHandGallery > div > div:first-child {
	margin-left: auto;
	margin-right: auto;
}

.content .entry div.leftHandGallery > div > div:first-child p {
	margin: 0px;
	padding: 0px;
}

.content .entry div.leftHandGallery > div > div:last-child {
	margin: 0px;
	padding: 15px 0px 15px 0px;
}

.content .entry div.leftHandGallery > div > div:last-child div {
	margin: 0px 0px 4px 0px;
	padding: 8px 4px 8px 19px;
	background: -moz-linear-gradient(-60deg,  rgba(182, 172, 151, 0.2) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(-60deg,  rgba(182, 172, 151, 0.2) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(150deg,  rgba(182, 172, 151, 0.2) 0%,rgba(255,255,255,0) 100%);
	border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	-khtml-border-radius: 0px 7px 7px 0px;
}

.content .entry div.leftHandGallery > div > div:last-child div:first-child h4 {
	margin: 2px 0px 2px 0px;
}

.content .entry div.leftHandGallery > div > div:last-child > p {
	margin: 2px 0px 2px 19px;
}

.content .entry div.leftHandGallery > div > div:last-child div:first-child p {
	margin: 2px 0px 2px 10px;
}

.content .entry div.leftHandGallery > div > div:first-child img {
	border: none;
	padding: 0px;
	margin: 4px 0px 15px 5px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(100,100,100, 0.4);
	-moz-box-shadow: 2px 2px 6px 0px rgba(100,100,100, 0.4);
	box-shadow: 2px 2px 6px 0px rgba(100,100,100, 0.4);
	border-radius: 9px;
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	-webkit-border-radius: 9px;
}

.content .entry div.leftHandGallery table {
	border:none;
	margin:0;
}

.content .entry div.leftHandGallery table td {
	border:none;
	vertical-align:top;
}


/* Dialogue sequences - names on the left, dialogue on the right */

.content .entry div.dialogue {
	border: none;
	display:table;
	padding:2px;
	margin: 1.1em;
}

.content .entry div.dialogue > div {
	display:table-row;
}

.content .entry div.dialogue > div > div {
	padding:3px 2px 3px 2px;
	display:table-cell;
}

.content .entry div.dialogue > div > div:first-child {
	color: #666;
	text-align: right;
	font-size: 0.8em;
	white-space: nowrap;
	font-weight: bold;
	padding-right:8px;
}


/* Music playlist tables */

table.musicplaylist {
	font-size: 0.7em;
	border:none;
	margin:1em 2em 1em 2em;
}
table.musicplaylist tr td {
	margin:0;
	padding:0 5px 0 2px;
	border:none;
}
table.musicplaylist tr td:first-child {
	font-size: 1.1em;
}


/* WP Quote with citation */

.content blockquote.wp-block-quote p {
	font-size: var(--ptws-content-quote-p-font-size);
	font-style: normal;
	color: rgba(0, 62, 11, 1);
}
/* WP official styles override this and make it italic, which is infuriating */
.content blockquote.wp-block-quote.is-style-large p {
	font-style: normal;
	font-size: calc(0.4em + var(--ptws-content-quote-p-font-size));
}
/* More pointless over-specification because otherwise WP's in-house styles screw us */
.content blockquote.wp-block-quote.is-style-large {
	margin: 1.2em 45px 1.2em 45px;
	padding: 0.8em 1.2em 0.8em 1.2em;
}

.content blockquote.wp-block-quote cite {
	color: rgba(0, 151, 26, 1);
	font-size: calc(var(--ptws-content-font-size) - 0.1em);
}
.content blockquote.wp-block-quote.is-style-large cite {
	font-size: var(--ptws-content-font-size);
}

.content blockquote.wp-block-quote.poem p {
	font-family: "Noto Serif";
	font-style: italic;
	font-size: var(--ptws-content-poem-p-font-size);
	color: rgba(0, 94, 17, 1);
}


/* WP Pull Quote */

.content figure.wp-block-pullquote {
	padding-top: 0;
	padding-bottom: 0;
}

.content figure.wp-block-pullquote p {
	font-size: var(--ptws-content-pullquote-p-font-size);
}
.content figure.wp-block-pullquote.giant p {
	font-size: var(--ptws-content-pullquote-giant-p-font-size);
	font-family: 'DIN Web Pro Black';
}

.content figure.wp-block-pullquote blockquote {
	border: none;
}


/* Question-And-Answer sequences */

.content blockquote {
	/* background-color: rgba(80, 255, 50, 0.06); */
	margin: 1.2em 45px 1.2em 45px;
	padding: 0.8em 1.2em 0.8em 1.2em;
	border-radius: 10px;
	border-color: rgba(161, 225, 156, 0.21);
	border-style: solid;
	border-width: 2px 0 2px 0;
}

.content blockquote.q {
	background: #F5E9E1;
	margin: 0 25px 0px 25px;
	padding: 8px 20px 0 15px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #DDE6D3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.content blockquote.q p {
	padding-bottom: 8px;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(150,126,126,0.6);
	font-size: 0.75em;
}

.content blockquote.a {
	background: #FFF5F0;
	margin: 0 25px 15px 25px;
	padding: 0px 20px 8px 15px;
	border-top: 0px solid #E6DDD3;
	border-right: 1px solid #E6DDD3;
	border-bottom: 1px solid #E6DDD3;
	border-left: 1px solid #E6DDD3;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.content blockquote.a p {
	padding-top: 6px;
	padding-bottom: 2px;
	font-weight: normal;
	font-size: 0.75em;
}


/* Embedded routes (via [ptwsroute]) showing a map and elevation graph */

.ptws-ride-log {
	margin: 1.5em;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.ptws-ride-log > div.data {
  display:none;
}

.ptws-ride-log .ptws-routemap {
	width: 100%;
	min-width: 640px;
	max-width: 800px;
	box-shadow: 1px 1px 9px -1px rgba(81, 81, 81, 0.51);
}

.ptws-ride-log .ptws-routemap > div {
    height: 400px;
}

.ptws-ride-log .ptws-elevation-chart {
    padding: 17px 0 0 0;
	width: 100%;
	min-width: 640px;
	max-width: 800px;
}

.ptws-ride-log .ptws-elevation-chart > canvas {
    height: 140px;
}


/* Embedded routes (via wikiloc) showing a map and elevation graph */

div.ptws-wikiloc-frame {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


/* Flickr videos */

div.slide.slide-video {
	margin: 1em 1.4em 1em 1.4em;
	display: flex;
	justify-content: center;
}


/* General CSS */

.content table.pictable {
	border: 0px solid;
}

.content table.pictable tr td {
	padding: 0px;
	border: 0px solid;
}

.content blockquote.pictitle {
	background: #FCF4EC;
	margin: 0 5px 0px 5px;
	padding: 6px 15px 0 15px;
	border:0px solid black;
	border-radius: 6px;
	clear:left;
}

.content blockquote.pictitle p {
	padding-bottom: 8px;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(150,126,126,0.6);
	font-size: 0.8em;
}

.content blockquote.picdesc {
	background: #FFFFFF;
	margin: 0 5px 5px 5px;
	padding: 1px 20px 8px 15px;
	border: 0px solid black;
}

.content blockquote.picdesc p {
	padding-top: 6px;
	padding-bottom: 2px;
	font-weight: normal;
	font-size: 0.75em;
}

/* Overriding dumb Wordpress default. Items internal to columns MANAGE THEIR OWN bottom margin. */
.entry .wp-block-columns .wp-block-column {
	margin-bottom: 0;
}


/***** Nav Menu  ********************/

.menu-main-container ul {
	margin: 0 0 0 0.3em;
	padding: 0;
	list-style-type: none;
	display:flex;
}

.menu-main-container > ul > li {
	font-size: var(--ptws-menu-main-container-ul-li-font-size);
	font-family: 'DIN Web Pro Black', sans-serif;
	margin: 0 0.2em 0 0.2em;
	white-space: nowrap;
	text-transform: uppercase;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255,255,255,0);
}

.menu-main-container > ul > li > a {
	color: rgb(243, 249, 247);
	text-shadow: 0px 2.5px 5px rgba(0, 108, 39, 1);
	display: block;
	border: none;
	text-decoration: none;
}

.menu-main-container ul ul {
	display:none;
	position:absolute;
	z-index: 99999;
}	

.menu-main-container ul ul ul {
	left:100%;
	top:0;
}	

.menu-main-container ul li:hover > ul {
	display:block;
}

.menu-main-container > ul > li:hover {
	border-color: rgb(90,170,110);
	background-color: rgb(193, 222, 212);
	box-shadow: inset 0px 0px 1px 3px rgba(255,255,255,1);
	text-decoration:underline;
}

.menu-main-container > ul > li > a.selected,
.menu-main-container > ul > li.current_page_item,
.menu-main-container > ul > li.current_page_ancestor {
	box-shadow: inset 0px 0px 1px 3px rgba(255,255,255,1);
	border-color: rgb(102, 176, 139);
	background-color: rgb(102, 176, 139);
}

ul.children {
	min-width: 200px;
	padding-left: 0;
	background: rgb(250,244,220);
	border:1px solid rgb(232,225,179);
	border-radius: 8px;
}

ul.children > li > a:hover,
ul.children > li.current_page_item > a,
ul.children > li.current_page_ancestor > a,
ul.children > li.current_menu_item > a,
ul.children > li.current_menu_ancestor > a {
	margin: 0;
	padding: 4px 10px 4px 10px;
	border:1px solid #E8D1B3;
}

ul.children > li > a {
	display: block;
	font-size: 12px;
	border:none;
	text-decoration: none;
	color: #735940;
	margin: 0;
	padding: 5px 11px 5px 11px;
	text-shadow: #E8D1B3 1px 1px;
	text-transform: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}


/***** Headlines ********************/

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	font-family: 'DIN Web Pro';
	color: #333333;
	text-decoration: none;
	margin: 0 1em 4px 20px;
	padding: 0;
}

.content h1 {
	font-size: 1.8em;
	margin-top: 0.6em;
	margin-bottom: 0.2em;
}

.content h2 {
	color: #333333;
	text-decoration: none;
	font-size: 1.4em;
	margin: 4px 1em 1px 1em;
	padding: 0 0 5px 0;
}
	
.content h2 a, .content h2 a:visited {
	color: #333333;
	text-decoration: none;
}
	
.content h2 a:hover {
	color: #008DCF;
	text-decoration: none;
}
	
.content h3 {
	font-size: 1.3em;
	color: #333333;
	text-decoration: none;
	margin: 0 1em 10px 1em;
	padding: 0;
}
	
.content h4 {
	font-size: 1.2em;
	margin-left: 1.15em;
	margin-bottom: 0.5em;
}
	
.content h5 {
	font-size: 1.15em;
}
	
.content h6 {
	font-size: 1.05em;
}


/***** Post Info ********************/
	
.post-info {
	font-size: 0.72em;
	color: #999999;
	margin: 0 0 13px 2em;
	padding: 0;
	text-transform: uppercase;
}
	
.post-info p {
	margin: 0;
	padding: 0;
}

.post-info abbr {
	border: none;
}


/***** Post Meta ********************/
	
.post-meta {
	font-size: 0.72em;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	padding: 1px 20px 16px 20px;
	border-bottom: 1px dotted #CCCCCC;
}

.post-meta p {
	margin: 0;
	padding: 0;
}	


/***** Author Box ********************/
	
.author-box {
	background: #F5F5F5;
	margin: 20px 0 40px 0;
	padding: 10px;
	border: 1px solid #DDDDDD;
	overflow: auto;
	clear: both;
}
	
.author-box p {
	margin: 0;
	padding: 0;
}
	
.author-box img {
	background: #FFFFFF;
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #E6E6E6;
}


/* Javascript-assisted section filtering buttons */

.content div.ptwsFilterButtons {
	text-align:left;
	border: 0px solid;
	padding: 0px;
	margin: 0.6em 0.5em 1.1em 2.9em;
}

.content div.ptwsFilterButtons > span {
	vertical-align: baseline;
	color: #555;
	border-color: rgb(200, 186, 103);
	background: rgb(255, 248, 226);
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	display: inline-block;
	font-size: var(--ptws-gearFilterButtons-span-font-size);
	padding: var(--ptws-gearFilterButtons-span-padding);
	margin: var(--ptws-gearFilterButtons-span-margin);
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	transition-property: border, background, color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.content div.ptwsFilterButtons > span:hover {
	background: rgb(255, 243, 208);
	border-color: rgb(182, 168, 4);
	color: #222;
}

.content div.ptwsFilterButtons > span.active {
	background: rgb(244, 229, 182);
	border-color: rgb(171, 152, 20);
	color: #333;
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5)
}


/* For the gear page */

.content div.gear {
	clear:left;
	padding: 0px 0px 6px 0px;
	margin: 0px 1em 6px 1em;
}

.content div.gear div.gearbar {
	display: block;
	margin: 0px 0px 6px 0px;
	padding: 6px 0px 6px 0px;
	border:none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}

.content div.gear span.gearname {
	padding: 0px 15px 0px 5px;
	font-size: 1.1em;
}

.content div.gear span.gearpurchase {
	float: right;
	color: #999;
	padding: 0px 15px 0px 15px;
	text-align: right;
}

.content div.gear img {
	padding: 0;
	margin: 0 1.1em 0.7em 0.4em;
	float: left;
	max-width: 9em;
	max-height: 7em;
}

.content div.gear p {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 3px 0px;
}


/* Project presentation customizations, e.g. USB charger */

.divtoc {
	float:right;
	padding:0 1em 1em 1em;
	margin:0.0em 1em 0.7em 0.5em;
}

.maintoc {
	margin: 0em 0em 0.1em 0em;
	padding: 0em 0em 0em 1.1em;
}

.subtoc {
	font-size: 0.95em;
	margin:0em 0em 0em 0em;
	padding:0em 0em 0.05em 1.4em;
}

.qaq {
	/*	font-size:0.9em;	*/
}
div.qaq, span.qaq {
	color: rgb(102, 176, 139);
	padding-left: 0.32em;
}

div.qaq {
	margin:0em 1em 0.8em 1em;
	padding:0em 0em 0em 0em;
}

ul > li.qaq {
	list-style: none;
	text-indent: -1.2em;
}

li.qaq::before, div.qaq::before, h4.qaq::before { 
	display: block;
	float: left;
	padding-top:0.25em;
	font-size:0.8em;
	width: 1.2em;
}
li.qaq:not(.disclosed)::before, div.qaq:not(.disclosed)::before, h4.qaq:not(.disclosed)::before { 
	content: "►";
}
li.qaq.disclosed::before, div.qaq.disclosed::before, h4.qaq.disclosed::before {
	content: "▼";
}

/* Without the span.qaq to isolate the hover, it underlines the whole branch */
ul > li.qaq span.qaq:first-child:hover, div.qaq:hover, h4.qaq:hover {
	text-decoration:underline;
	cursor:pointer;
}

.qaa {
	display:none;
	font-size:0.9em;
	margin:0em 1em 1em 1em;
	padding:0em 1em 0em 1.3em;
}
.qaq.disclosed .qaa {
	display: block;	/* For when the intended qaa is inside a qaq, like in a li.qaq */
	text-indent: 0;
}

.qaa p {
	margin:0em;
	padding:0.5em 1em 0.5em 0em;
}

.entry ul li:not(.qaq) {
	list-style-type: square;
	text-indent: initial;
	padding: 0;
}


/* End of project presentation customizations, e.g. USB charger */


.content pre {
	background: #F5F5F5;
	margin: 1em 1em 1em 1em;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 3px;
	border: 1px solid #E6E6E6;
	width: 593px; /* Keeping max width for PRE to avoid hellacious windows */
	overflow: auto;
}

.content pre > div.code {
	font-family: monospace;
	font-size: 0.8em;
	white-space: pre-wrap;
	background: #F5F5F5;
	margin: 0;
	border-radius: 3px;
	text-indent:0;
}
