/* Admin area */

table.ptws-admin-settings {
	background:white;
	padding:0.5em;
	margin:1em;
}

table.ptws-admin-settings tr td {
	vertical-align:top;
}

table.ptws-admin-settings tr td:first-of-type {
	white-space:nowrap;
	padding:0.4em 1em 0.2em 1em;
}

table.ptws-admin-settings tr td:last-of-type {
	padding:0.4em 1em 0.2em 1em;
}