/******** General customization *******/

body {
	background: #FFFFFF;
	color: #000000;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	line-height: 1.5;	/* Unitless means multiply font size */
	margin: 0 auto 20px;
	padding: 0;
}
@media screen and (max-device-width: 1024px) {
	body {
		/* On mobile devices, the photos are much smaller, and much more */
		/* affected by glare from surrounding text and background.       */
		background: #EAEAEA;
		color: #111111;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	}
}

div.comment-respond {
	margin-left: 1em;
	margin-right: 1em;
}

iframe.wikiloc {
	margin:1em;
	width:600px;
	height:600px;
}


/* Disclose icons, expressed to override jquery-ui style */

span.ui-icon-triangle-1-e {
	display:inline-block;
	text-indent:0;
	padding-top:0.25em;
	font-size:0.8em;
	width: 1.2em;
	height: 1em;
}
span.ui-icon-triangle-1-e::before {
	content: "►";
}

span.ui-icon-triangle-1-s {
	display:inline-block;
	text-indent:0;
	padding-top:0.25em;
	font-size:0.8em;
	width: 1.2em;
	height: 1em;
}
span.ui-icon-triangle-1-s::before {
	content: "▼";
}


/******** Images and "image strips" (grids of image thumbnails) *******/

.content .entry a > img {
	border: none;
	padding: 0px;
	margin: 4px 10px 4px 10px;
	box-shadow: 1px 1px 9px -1px rgba(81, 81, 81, 0.51);
}

.content .entry div.images {
	display: flex;
	clear: left;
	justify-content: center;
	padding: 0;
	margin: 0.7em 1em 0.7em 1em;
}
.content .entry div.images img {
	width: 95%;
}
.content .entry div.images a:nth-child(1n+2) img {
	margin-top: 16px; /* All children but the first */
}
.content .entry div.images > div {
	text-align: center;
	max-width: 800px;
	flex:1;
}

.content .entry div.imgComment {
	text-align: left;
	text-indent: 10px;
	margin: 0 10px 0 10px;
	padding: 0px 15px 0 15px;
}
.content .entry div.imgComment p {
	margin: 5px 0 5px 0;
	color: gray;
	font-weight: normal;
}

.content .entry div.imageStrip {
	border: none;
	display: table;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	box-shadow: 1px 1px 13px -1px rgba(81, 81, 81, 0.51);
}

.content .entry div.imageStrip > div {
	display: table-row;
}

.content .entry div.imageStrip > div > div {
	padding: 2px;
	display: table-cell;
}

.content .entry div.imageStrip > div:first-child > div > a > img {
	margin-top: 4px;
}

.content .entry div.imageStrip > div > div:first-child > a > img {
	margin-left: 6px;
}

.content .entry div.imageStrip > div > div > a > img {
	border: none;
	padding: 0px;
	margin: 0px 6px 4px 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/**** Image/map galleries (image on left, description on right) ****/

.content .entry div.leftHandGallery {
	border: none;
	margin: 0.6em 1em 0.6em 1em;
	display: table;
}

.content .entry div.leftHandGallery > div {
	display: table-row;
}

.content .entry div.leftHandGallery > div > div {
	display: table-cell;
	vertical-align: top;
}

.content .entry div.leftHandGallery > div > div:first-child {
	margin-left: auto;
	margin-right: auto;
}

.content .entry div.leftHandGallery > div > div:first-child p {
	margin: 0px;
	padding: 0px;
}

.content .entry div.leftHandGallery > div > div:last-child {
	margin: 0px;
	padding: 15px 0px 15px 0px;
}

.content .entry div.leftHandGallery > div > div:last-child div {
	margin: 0px 0px 4px 0px;
	padding: 8px 4px 8px 19px;
	background: -moz-linear-gradient(-60deg,  rgba(182, 172, 151, 0.2) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(-60deg,  rgba(182, 172, 151, 0.2) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(150deg,  rgba(182, 172, 151, 0.2) 0%,rgba(255,255,255,0) 100%);
	border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	-khtml-border-radius: 0px 7px 7px 0px;
}

.content .entry div.leftHandGallery > div > div:last-child div:first-child h4 {
	margin: 2px 0px 2px 0px;
}

.content .entry div.leftHandGallery > div > div:last-child > p {
	margin: 2px 0px 2px 19px;
}

.content .entry div.leftHandGallery > div > div:last-child div:first-child p {
	margin: 2px 0px 2px 10px;
}

.content .entry div.leftHandGallery > div > div:first-child img {
	border: none;
	padding: 0px;
	margin: 4px 0px 15px 5px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(100,100,100, 0.4);
	-moz-box-shadow: 2px 2px 6px 0px rgba(100,100,100, 0.4);
	box-shadow: 2px 2px 6px 0px rgba(100,100,100, 0.4);
	border-radius: 9px;
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	-webkit-border-radius: 9px;
}

.content .entry div.leftHandGallery table {
	border:none;
	margin:0;
}

.content .entry div.leftHandGallery table td {
	border:none;
	vertical-align:top;
}


/* Dialogue sequences - names on the left, dialogue on the right */

.content .entry div.dialogue {
	border: none;
	display:table;
	padding:2px;
	margin: 1.1em;
}

.content .entry div.dialogue > div {
	display:table-row;
}

.content .entry div.dialogue > div > div {
	padding:3px 2px 3px 2px;
	display:table-cell;
}

.content .entry div.dialogue > div > div:first-child {
	color: #666;
	text-align: right;
	font-size: 13px;
	white-space: nowrap;
	font-weight: bold;
	padding-right:8px;
}
@media screen and (max-device-width: 1024px) {
	.content .entry div.dialogue > div > div:first-child {
		font-size: 18px;
	}
}


/* Music playlist tables */

table.musicplaylist {
	font-size: 0.7em;
	border:none;
	margin:1em 2em 1em 2em;
}
table.musicplaylist tr td {
	margin:0;
	padding:0 5px 0 2px;
	border:none;
}
table.musicplaylist tr td:first-child {
	font-size: 1.1em;
}


/* Question-And-Answer sequences */

.content blockquote {
	background-color: rgb(254, 255, 244);
	margin: 1.2em 2em 1.2em 2em;
	padding: 0.8em 1.2em 0.8em 1.2em;
	border-radius: 9px;
	border: 1px solid rgba(160, 196, 71, 0.6);
}

.content blockquote.q {
	background: #F5E9E1;
	margin: 0 25px 0px 25px;
	padding: 8px 20px 0 15px;
	border-top: 1px solid #E6DDD3;
	border-right: 1px solid #E6DDD3;
	border-bottom: 0px solid #E6DDD3;
	border-left: 1px solid #E6DDD3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.content blockquote.q p {
	padding-bottom: 8px;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(150,126,126,0.6);
	font-size: 13px;
}

.content blockquote.a {
	background: #FFF5F0;
	margin: 0 25px 15px 25px;
	padding: 0px 20px 8px 15px;
	border-top: 0px solid #E6DDD3;
	border-right: 1px solid #E6DDD3;
	border-bottom: 1px solid #E6DDD3;
	border-left: 1px solid #E6DDD3;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.content blockquote.a p {
	padding-top: 6px;
	padding-bottom: 2px;
	font-weight: normal;
	font-size: 13px;
}


/* Embedded routes (via [ptwsroute]) showing a map and elevation graph */

.ptws-ride-log {
    border: #ccc 1px solid;
    border-radius: 10px;
    padding: 4px;
    margin: 1.5em auto;
    width: 640px;
    background-color: #F8F8F8;
}

.ptws-ride-log > div.data {
  display:none;
}

.ptws-ride-log .ptws-routemap {
    padding: 0;
    margin: 0;
    width: 640px;
    background-color: #F8F8F8;
}

.ptws-ride-log .ptws-routemap > div {
    height: 400px;
}

.ptws-ride-log .ptws-elevation-chart {
    border-radius: 0 0 10px 10px;
    padding: 7px 0 0 0;
    margin: 0;
    width: 640px;
    background-color: #F8F8F8;
}

.ptws-ride-log .ptws-elevation-chart > canvas {
    height: 140px;
}


/* Embedded routes (via wikiloc) showing a map and elevation graph */

div.ptws-wikiloc-frame {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


/* General CSS */

.content table.pictable {
	border: 0px solid;
}

.content table.pictable tr td {
	padding: 0px;
	border: 0px solid;
}

.content blockquote.pictitle {
	background: #FCF4EC;
	margin: 0 5px 0px 5px;
	padding: 6px 15px 0 15px;
	border:0px solid black;
	border-radius: 6px;
	clear:left;
}

.content blockquote.pictitle p {
	padding-bottom: 8px;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(150,126,126,0.6);
	font-size: 14px;
}

.content blockquote.picdesc {
	background: #FFFFFF;
	margin: 0 5px 5px 5px;
	padding: 1px 20px 8px 15px;
	border: 0px solid black;
}

.content blockquote.picdesc p {
	padding-top: 6px;
	padding-bottom: 2px;
	font-weight: normal;
	font-size: 13px;
}


/* For the gear page */

.content div.gearFilterButtons {
	text-align:left;
	border: 0px solid;
	padding: 0px;
	margin:0.5em 0.5em 1.1em 1em;
}

.content div.gearFilterButtons > span {
	vertical-align: baseline;
	color: #555;
	border-color: rgb(200, 186, 103);
	background: rgb(255, 248, 226);
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	display: inline-block;
	font-size: 13px;
	margin: 5px 5px;
	padding: 2px 7px 2px 7px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	transition-property: border, background, color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}
@media screen and (max-device-width: 1024px) {
	.content div.gearFilterButtons > span {
		font-size:26px;
		padding: 8px 12px 8px 12px;
		margin: 8px 8px;
	}
}

.content div.gearFilterButtons > span:hover {
	background: rgb(255, 243, 208);
	border-color: rgb(182, 168, 4);
	color: #222;
}

.content div.gearFilterButtons > span.active {
	background: rgb(244, 229, 182);
	border-color: rgb(171, 152, 20);
	color: #333;
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5)
}

.content div.gear {
	clear:left;
	padding: 0px 0px 6px 0px;
	margin: 0px 1em 6px 1em;
}

.content div.gear div.gearbar {
	display: block;
	margin: 0px 0px 6px 0px;
	padding: 6px 0px 6px 0px;
	border:none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}

.content div.gear span.gearname {
	padding: 0px 15px 0px 5px;
	font-size: 17px;
}
@media screen and (max-device-width: 1024px) {
	.content div.gear span.gearname {
		font-size: 23px;
	}
}

.content div.gear span.gearpurchase {
	float: right;
	color: #999;
	padding: 0px 15px 0px 15px;
	text-align: right;
}

.content div.gear img {
	padding: 0;
	margin: 0px 15px 10px 6px;
	float: left;
	max-width: 128px;
}

.content div.gear p {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 3px 0px;
}


/* Project presentation customizations, e.g. USB charger */

.divtoc {
	float:right;
	padding:0 1em 1em 1em;
	margin:0.0em 1em 0.7em 0.5em;
}

.maintoc {
	margin: 0em 0em 0.1em 0em;
	padding: 0em 0em 0em 1.1em;
}

.subtoc {
	font-size: 0.95em;
	margin:0em 0em 0em 0em;
	padding:0em 0em 0.05em 1.4em;
}

.qaq {
	/*	font-size:0.9em;	*/
}
div.qaq, span.qaq {
	color:rgb(3, 138, 170);
}

div.qaq {
	margin:0em 1em 0.8em 1em;
	padding:0em 0em 0em 0em;
}

ul.qa {
	margin-left: 1em;
	padding-left: 1.2em;
}

ul.qa > li.qaq {
	list-style: none;
	text-indent: -1.2em;
}

li.qaq::before, div.qaq::before, h4.qaq::before { 
	display: block;
	float: left;
	padding-top:0.25em;
	font-size:0.8em;
	width: 1.2em;
}
li.qaq:not(.disclosed)::before, div.qaq:not(.disclosed)::before, h4.qaq:not(.disclosed)::before { 
	content: "►";
}
li.qaq.disclosed::before, div.qaq.disclosed::before, h4.qaq.disclosed::before {
	content: "▼";
}

/* Without the span.qaq to isolate the hover, it underlines the whole branch */
ul.qa > li.qaq span.qaq:first-child:hover, div.qaq:hover, h4.qaq:hover {
	text-decoration:underline;
	cursor:pointer;
}

.qaa {
	display:none;
	font-size:0.9em;
	margin:0em 1em 1em 1em;
	padding:0em 1em 0em 1.3em;
}
.qaq.disclosed .qaa {
	display: block;	/* For when the intended qaa is inside a qaq, like in a li.qaq */
}

.qaa p {
	margin:0em;
	padding:0.5em 1em 0.5em 0em;
}

/* End of project presentation customizations, e.g. USB charger */


.content pre {
	background: #F5F5F5;
	margin: 1em 1em 1em 1em;
	padding: 0.5em 1em 0.5em 1em;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #E6E6E6;
	width: 593px; /* Keeping max width for PRE to avoid hellacious windows */
	overflow: auto;
}

.content pre > div.code {
	font-family: monospace;
	font-size: 0.8em;
	white-space: pre-wrap;
	background: #F5F5F5;
	margin: 0;
	border-radius: 3px;
	text-indent:0;
}



.entry ul:not(.qa) {
	list-style-type: square;
	margin: 0.8em 1em 0.8em 1em;
	padding: 0;
}

.entry ul li:not(.qaq) {
	list-style-type: square;
	margin: 0 0 0 20px;
	text-indent: initial;
	padding: 0;
}


/* royalSlider custom CSS */

.royalSlider {
	width: 600px;
	height: 400px;
	position: relative;
	direction: ltr;
}
.royalSlider > * {
	float: left;
}

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
	-webkit-transform: none;
}
.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	top: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
	position: absolute;
	left: 0;
	top: 0;

}
.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsThumb {
	float: left;
	position: relative;
}


.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}
.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {
	width: 100%;
	float: left;
}

.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483646 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	height: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}

.rsContent {
	height: 100%;
	position: relative;
}

.rsPreloader {
	position:absolute;
	z-index: 0;	
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}
.rsTabs {
	float: left;
	background: none !important;
}
.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
	/*left: 0;
	top: 0;
	position: absolute;*/
	/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}
.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 44px;
}

.rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 15;
	
}

img.rsImg {
	max-width: none;
}

.grab-cursor {
	cursor:url(grab.png) 8 8, move; 
}

.grabbing-cursor{ 
	cursor:url(grabbing.png) 8 8, move;
}

.rsNoDrag {
	cursor: auto;
}

.rsLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;	
	z-index: 20;
	background: url(blank.gif);
}


.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
	color: #EEE;
}


.rsMinW .rsArrow {
	height: 29px;
	width: 29px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}

.rsMinW .rsArrowLeft {
	left: 1em; top: 0px;
}
.rsMinW .rsArrowRight {
	right: 1em; top: 0px;
}

.rsMinW .rsArrowIcn {		
	width: 29px;
	height: 29px;
	position: absolute;
	cursor: pointer;	
	background: url('../images/rs-minimal-white.png') transparent;
}
.rsMinW .rsArrowIcn:hover {

}


.rsMinW.rsHor .rsArrowLeft .rsArrowIcn { background-position: -66px -34px }
.rsMinW.rsHor .rsArrowRight .rsArrowIcn { background-position: -66px -66px; }

.rsMinW.rsVer .rsArrowLeft .rsArrowIcn { background-position: -100px -36px; }
.rsMinW.rsVer .rsArrowRight .rsArrowIcn { background-position: -100px -68px; }

.rsMinW .rsArrowDisabled .rsArrowIcn { opacity: 0 !important; filter: alpha(opacity=0);  *display: none; }


.rsMinW .rsBullets {
	position: absolute;
	top: 0px;
	left: 50%;
	z-index: 35;
	height: auto;
	text-align: center;
	line-height: 6px;
	overflow: hidden;
}
.rsMinW .rsBullet {
	display: inline-block;
	*display:inline; 
	*zoom:1;
	padding: 0px 2px 0px 2px;
}
.rsMinW .rsBullet span {
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.rsMinW .rsBullet.rsNavSelected span {
	background: rgba(0, 0, 0, 0.3);
}


.rsMinW .rsThumbsHor {
	width: 100%;
	height: auto;
}
.rsMinW .rsThumbsVer {
	width: 96px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.rsMinW.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}
.rsMinW.rsWithThumbsVer .rsThumbsContainer {
	position: relative;
	width: 100%;
}
.rsMinW .rsThumb {
	float: left;
	overflow: hidden;
	width: 96px;
	height: 72px;
}
.rsMinW .rsThumb img {
	width: 100%;
	height: 100%;
}
.rsMinW .rsThumb.rsNavSelected {
	background: #333;
}
.rsMinW .rsThumb.rsNavSelected img {
	filter: alpha(opacity=40);
	opacity: 0.7;
}
.rsMinW .rsThumb.rsNavSelected span.thumbIco {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid #FFF;
	border: 2px solid rgba(255,255,255,0.9);
	-webkit-backface-visibility: hidden;
} 
.rsMinW .rsTmb {
	display: block;
}


.rsMinW .rsThumbsArrow {
	height: 100%;
	width: 20px;
	position: absolute;
	display: block;
	cursor: pointer;	
	z-index: 21;	
}
.rsMinW.rsWithThumbsVer .rsThumbsArrow {
	width: 100%;
	height: 20px;
}
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsMinW .rsThumbsArrowIcn {		
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top:-8px;	
	margin-left: -8px;
	position: absolute;	
	cursor: pointer;	
	background: url('../images/rs-minimal-white.png');
}

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsMinW .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
	.rsMinW .rsThumb {
		width: 59px;
		height: 44px;
	}
	.rsMinW .rsThumbsHor {
		height: 44px;
	}
	.rsMinW .rsThumbsVer {
		width: 59px;
	}
}


.rsMinW .rsTabs {
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align:center;
	overflow: hidden; padding-top: 12px; position: relative;
}
.rsMinW .rsTab {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: auto;
	width: auto;
	color: #333;
	padding: 5px 13px 6px;
	min-width: 72px;
	border: 1px solid #D9D9DD;
	border-right: 1px solid #f5f5f5;
	text-decoration: none;

	background-color: #000;
	background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4); 
	background-image:    -moz-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:         linear-gradient(to bottom, #fefefe, #f4f4f4);

	*display:inline; 
	*zoom:1;
}
.rsMinW .rsTab:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.rsMinW .rsTab:last-child { 
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;

	border-right:  1px solid #cfcfcf;
}
.rsMinW .rsTab:active { 
	border: 1px solid #D9D9DD;   
	background-color: #f4f4f4;
	box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.rsMinW .rsTab.rsNavSelected { 
	color: #000;
	border: 1px solid #999;
	text-shadow: 1px 1px #838383;
	box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
	background: #ACACAC;
	background-image: -webkit-linear-gradient(top, #ACACAC, #BBB);
	background-image: -moz-llinear-gradient(top, #ACACAC, #BBB);
	background-image: linear-gradient(to bottom, #ACACAC, #BBB);
}


.rsMinW .rsFullscreenBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 22;
	display: block;
	position: absolute;
	cursor: pointer;
	
}
.rsMinW .rsFullscreenIcn {
	display: block;
	margin: 6px;
	width: 32px;
	height: 32px;

	background: url('../images/rs-minimal-white.png') 0 0 transparent;
}
.rsMinW .rsFullscreenIcn:hover {
	opacity: 0.8;
}
.rsMinW.rsFullscreen .rsFullscreenIcn {
	background-position: -32px 0;
}


.rsMinW .rsPlayBtn {
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
	width:64px;
	height:64px;
	margin-left:-32px;
	margin-top:-32px;
	cursor: pointer;
}
.rsMinW .rsPlayBtnIcon {
	width:64px;
	display:block;
	height:64px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;

	background:url('../images/rs-minimal-white.png') no-repeat 0 -32px;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
}
.rsMinW .rsPlayBtn:hover .rsPlayBtnIcon {
	background-color: rgba(0,0,0,0.9);
}
.rsMinW .rsBtnCenterer {
	position:absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
}
.rsMinW .rsCloseVideoBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 500;
	position: absolute;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	
}
.rsMinW .rsCloseVideoBtn.rsiOSBtn {
	top: -38px;
	right: -6px;
}

.rsMinW .rsCloseVideoIcn {
	margin: 6px;
	width: 32px;
	height: 32px;
	background: url('../images/rs-minimal-white.png') -64px 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
}
.rsMinW .rsCloseVideoIcn:hover {
	background-color: rgba(0,0,0,0.9);
}


.rsMinW .rsPreloader {
	width:20px;
	height:20px;
	background-image:url(/wp-content/plugins/new-royalslider/lib/royalslider/skins/preloaders/preloader-white.gif);

	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;	
}




/***************
*
*  8. Global caption
*
****************/
.rsMinW .rsGCaption {
	position: absolute;
	float: none;
	bottom: 6px;
	left: 6px;
	background: #FFF;
	background: rgba(255,255,255, 0.75);
	text-align:left;
	margin:0 10px 0 10px;
	padding:0px 15px 0 15px;
	color: #444;
	padding: 2px 8px;
	width: 80%;
	font-size: 12px;
	border-radius: 2px;
}

.rsMinW .rsGCaption p {
	text-indent:10px;
	margin:4px 0 4px 0;
	color: gray;
	font-weight: normal;
}

@media screen and (max-device-width: 1024px) {
	.rsMinW .rsGCaption p {
		font-size:20px;
	}
}


/* royalSlider custom shunt-in */
.royalSlider.rsMinW .rsSlide.rsActiveSlide {
	/* margin-left:1em; */
	z-index:20;
}
.royalSlider.rsMinW .rsSlide.rsActiveSlide img {
/* Was used to make the main slide stand out when overlapping other slides */
/*	box-shadow: 1px 1px 9px -1px rgba(255, 255, 255, 0.51); */
}
.royalSlider .rsSlide img {
	opacity: 0.45;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

	-webkit-transform: scale(0.9);  
	-moz-transform: scale(0.9); 
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.royalSlider .rsActiveSlide img {
	opacity: 1;
	-webkit-transform: scale(1);  
	-moz-transform: scale(1); 
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.royalSlider > .rsContent {
	visibility:hidden;
}

.infoBlock {
	position: absolute;
	bottom: 30px;
	left: 30px;
	right: auto;
	max-width: 45%;
	padding-bottom: 0;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	padding: 20px;
}

.photosBy {
	position: absolute;
	line-height: 24px;
	font-size: 12px;
	background: #FFF;
	color: #000;
	padding: 0px 10px;
	position: absolute;
	left: 12px;
	bottom: 12px;
	top: auto;
	border-radius: 2px;
	z-index: 25; 
} 
.photosBy a {
	color: #000;
}

.royalSlider.fullWidth {
	width: 100%;
	/*  height: auto !important; */
	height: 560px;
	margin: 0 auto;
}

div.ptwsGCaption {
	margin:0 4em 0 4em;
}

div.rsCaption {
	margin:1em 0 0 0;
	color:#777;
}

/*
@media screen and (max-device-width: 1024px) {
	.royalSlider.heroSlider,
	.royalSlider.heroSlider .rsOverflow {
		height: 300px !important;
	}
}
*/
