/* Dialogue sequences - names on the left, dialogue on the right */

.wp-block-ptws-dialogue div.conversation div.wp-block-ptws-dialogue-line {
	display: table-row;
}

.wp-block-ptws-dialogue div.conversation div.wp-block-ptws-dialogue-line > div {
	padding: 3px 2px 3px 2px;
	display: table-cell;
}

.wp-block-ptws-dialogue div.conversation.editing div.wp-block-ptws-dialogue-line > div:first-child {
	padding-left: 1rem;
}

.wp-block-ptws-dialogue div.conversation.editing div.wp-block-ptws-dialogue-line > div:last-child {
	padding-right: 1rem;
}

.wp-block-ptws-dialogue div.conversation.editing div.wp-block-ptws-dialogue-line > div:last-child p {
	margin-bottom: 0;
}

.wp-block-ptws-dialogue div.conversation div.wp-block-ptws-dialogue-line > div.speaker {
	color: #666;
	text-align: right;
	font-size: calc(var(--ptws-content-font-size) - 0.1rem);
	white-space: nowrap;
	font-weight: bold;
	padding-top: calc(var(--ptws-content-font-size) - 0.1rem);
	padding-right: 8px;
}

.wp-block-ptws-dialogue div.conversation div.wp-block-ptws-dialogue-line > div.lines p {
	padding: 0;
	margin: 0;
}
