/* Dialogue sequence container */

.wp-block-ptws-dialogue div.conversation {
	border: none;
	display: table;
	padding: 2px;
	margin: 1.1em;
}

.wp-block-ptws-dialogue div.conversation.editing div.addlinebutton {
	text-align: right;
}

