/* Flickr Slides */


.content .entry div.wp-block-ptws-slides-flickr {
	text-align: center;
	flex:1;
}

.content .entry div.wp-block-ptws-slides-flickr img {
	border: none;
	width: 95%;
	padding: 0px;
	margin: 4px 10px 4px 10px;
	box-shadow: 1px 1px 9px -1px rgba(81, 81, 81, 0.51);
}

.content .entry div.wp-block-ptws-slides-flickr video {
	border: none;
	width: 95%;
	padding: 0px;
	margin: 4px 10px 4px 10px;
	box-shadow: 1px 1px 9px -1px rgba(81, 81, 81, 0.51);
}

.content .entry div.wp-block-ptws-slides-flickr div.imgComment {
	text-align: left;
	text-indent: 10px;
	font-size: 0.9em;
	margin: 0 10px 0 10px;
	padding: 0px 15px 0 15px;
}

.content .entry div.wp-block-ptws-slides-flickr div.imgComment p {
	margin: 5px 0 5px 0;
	color: gray;
	font-weight: normal;
}

/* Hide in viewing mode and editing mode */

.wp-block-ptws-slides-flickr div.photodata {
	display: none;
}

/* Editing mode */

.wp-block-ptws-slides-flickr.editing {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px 0 10px;
	margin: 10px 0;
	border-radius: 7px;
	border: 1px solid rgba(0, 0, 0, 0);
}

.wp-block-ptws-slides-flickr.editing.video {
	position: relative; /* For video icon overlay */
}

.wp-block-ptws-slides-flickr.editing.video div.image-container::before {
	content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='1 1 22 22' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false'%3E%3Cpath d='M18.7 3H5.3C4 3 3 4 3 5.3v13.4C3 20 4 21 5.3 21h13.4c1.3 0 2.3-1 2.3-2.3V5.3C21 4 20 3 18.7 3zm.8 15.7c0 .4-.4.8-.8.8H5.3c-.4 0-.8-.4-.8-.8V5.3c0-.4.4-.8.8-.8h13.4c.4 0 .8.4.8.8v13.4zM10 15l5-3-5-3v6z'%3E%3C/path%3E%3C/svg%3E");
	position: absolute;
	border-width: 0;
	border-radius: 3px;
	margin-top: 1px;
	margin-left: 1px;
	line-height: 0;
	background-color:rgba(255,255,255,0.7)
}

.wp-block-ptws-slides-flickr.editing.is-selected {
	border: 1px solid black;
}

.wp-block-ptws-slides-flickr.editing.is-hovered {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.wp-block-ptws-slides-flickr.editing img {
	height: 150px;
}

.wp-block-ptws-slides-flickr div.emptyimage {
	height: 150px;
	width: 200px;
	background-color: gray;
}

.wp-block-ptws-slides-flickr div.metadata div.flickr-id {
	background-color: rgba(160, 160, 160, 0.1);
	color: #666;
	border-radius: 3px;
	font-size: 0.9rem;
	white-space: nowrap;
	font-weight: bold;
}

