/* Slides */

/* Main container, non-editing mode */

.content .entry div.wp-block-ptws-slides:not(.editing) {
	display: flex;
	clear: left;
	justify-content: center;
	padding: 0;
	margin: 0.7em 1em 0.7em 1em;
}

.content .entry div.wp-block-ptws-slides:not(.editing) div.size-limiter {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	max-width: 120vh;
}

/* All images but the first. Effectively creates a margin for 2 or more images only. */
.content .entry div.wp-block-ptws-slides a:nth-child(1n+2) img {
	margin-top: 16px;
}

/* Editing */


div.wp-block-ptws-slides .empty-notification {
	margin: 0.5rem 1.5rem 0.5rem 1.5rem;
	color: #666;
}

div.wp-block-ptws-slides.editing.is-selected div.add-slide-zone {
	display: flex;
}
div.wp-block-ptws-slides.editing.has-child-selected div.add-slide-zone {
	display: flex;
}

div.wp-block-ptws-slides.editing:not(.is-selected):not(.has-child-selected) div.add-slide-zone {
	display: none;
}

div.wp-block-ptws-slides.editing div.add-slide-zone {
	padding: 0 0 0.5rem 0;
	margin: 0;
}

div.wp-block-ptws-slides.editing div.add-slide-zone div.parse-status {
	display: flex;
	padding: 0;
	margin: 0 0.5rem 0 0.5rem;
}

div.wp-block-ptws-slides.editing div.add-slide-zone textarea {
	border: 1px solid black;
	margin: 0 0.5rem 0 0;
	color: #666;
	white-space: nowrap;
	font-weight: bold;
}

div.wp-block-ptws-slides.editing div.add-slide-zone select {
	margin: 0 0.5rem 0 0;
}



